@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/*teams-description
banner-description*/
.text-light-gray{
    color:#727272 ;
    font-size: 16px;
    font-weight:400 ;
}
header{
    
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
     align-items:center;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
/*.banner-description{
    color:#727272 ;
    font-size: 16px;
    font-weight:400 ;
}*/
.banner img{
    margin-top: 20px;
    width: 100%;
}
.btn-primary{
    color: #FFF;
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;

}
.teams-title{
 font-size: 45px;
}
.teams-title .list-one{
    color: #727272;
    font-weight: 500;
}
.teams-title .list-two{
    color: #131313;
    font-weight: 700;
}
.teams-title .list-three{
    color: #FF900E;
    font-weight: 700;
}
/*facts style*/
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:  30px;

/*height: 600;*/
}
.facts-card-container .card-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*.facts-description{
    font-size:16px ;
    font-weight: 400;
    width: 540px;
  padding: 40px;
}*/
/*responsive media quaries*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}/*table or medium device*/
@media screen and(min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    
}